* {
  margin: 0px;
}

.header {
  height: 100px;
  }

.menubox {
  margin: 0 auto;
  width: 1100px;
  height: 100px;
}

    .logo{

      float: left;
      margin-top: 30px;
    }

    .menu{

      float: left;
      margin-top: 30px;
    }

      div ul {
        margin: 0;
      }

      div ul li {
        display:inline-block;
        margin-right: 20px;
        line-height: 30px;
      }

      div ul li a {
        text-decoration: none;
        color:black;

      }
      div ul li a:hover {
        text-decoration:none;
        color:red;
      }


      .login a {
        text-decoration: none;
        line-height: 30px;
        color: black;
      }
      .login a:hover {
        text-decoration: none;
        color:red;
      }

      .logo {
        float: left;
      }

    .login{
      display: inline-block;
      float: right;
      border-radius: 5px;
      padding:0px 5px;
      border:1px solid gray;
      margin-top: 30px;
      text-align: center;
    }

.container {
  height: 595px;
  width: 100%;
  background-image: url('images/tour-focus-bg.jpg');
  background-size: 100%;
  padding-top: 150px;
  box-sizing:border-box;
}

.wrapper{
  height: 300px;
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;

}

.timebox {
    width: 450px;
    height:300px;
    display: inline-block;
    box-sizing:border-box;
    background-color: white;
  }
    .countup{
      height: 150px;
      padding-top: 50px;
      box-sizing: border-box;
      margin: 0px 30px;
    }

      .timer {
        width: 225px;
      }

          .stop{
            font-size: 1em;
            color: #5f5f5f;
            width:50px;
            float: right;
            padding: 25px;
            background-color: #f2f2f2;
            border-radius: 3px;
            text-align: center;
          }

    .message1, .message2, .message3{
      border-top: 1px solid #e6e6e6;
      margin: 0px 30px;
      color: #a0a0a0;

    }

    .message1, .message2 {
      padding: 13px 0px;
    }

    .going{
      font-size:1em;
      width:200px;
    }

    .twotwenty {
      font-size:1em;
      width: 50px;
     float:right;
      text-align: right;

    }

    .current-time {
      font-size: 1.6em;
      line-height: 1em;
      color: #e41c24;
      font-weight: 300;
    }

    .reading{
      font-size: 1.5625em;
      line-height: 1em;
      color: black;
    }

    .design {
      width:200px;
    }
    .fortyfive {
      width: 50px;
      font-size:1em;
      text-align: right;
      float:right;
    }
    a.addtask {
      text-decoration: underline;
      color: #0574d3;
    }
    a.addtask:hover {
      text-decoration: none;
    }

          .addtask2 {
            padding:15px 0px;
          }

  .slogan {
    position: relative;
    margin:0px;
    box-sizing: border-box;
    width: 540px;
    display: inline-block;
    height:200px;
    float:right;
  }

        .insanely {
          font-size: 2.5em;
          font-weight:300;
          color:white;
          text-shadow:0 1px 1px rgba(0,0,0,.5);

        }
        .toggl {
          font-size:2.5em;
          line-height: 1;
          font-weight:bold;
          margin-bottom:20px;
          color:white;
          text-shadow:0 1px 1px rgba(0,0,0,.5);
        }

      .sign-up {
        padding: 15px 37px;
        background-color: #94e129;
        border-radius: 3px;
        text-align: center;
        text-shadow:0 1px 1px rgba(0,0,0,.5);
        width:100px;

      }

      .sign {
        font-size: 20px;
        font-weight:bold;
         color: white;
         text-shadow:0 1px 1px rgba(0,0,0,.5);
      }

      .tour {
        float:right;
         padding: 15px 37px;
        background-color: #94e129;
        border-radius: 3px;
        text-align: center;
        text-shadow:0 1px 1px rgba(0,0,0,.5);
        width:100px;

      }

      a.tour:hover {
        color:black;
      }

      .take {

        font-size: 20px;
        font-weight:bold;
         color: white;
         text-shadow:0 1px 1px rgba(0,0,0,.5);

      }










